.constrainImage {
	overflow: auto;
}

.descriptionItem {
	font-weight: bold;
	margin-right: 5px;
}

.pubTitle {
	font-weight: bolder;
	font-size: 110%;
}

.profilePicContact {
    float: right;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    position: relative;
    border-radius: 20px;
}
