<div class="constrainImage">
  <p>
    {{ with .Params }}
      {{ if .icon }}
        <div class="pubImage">
          <a href="{{ .link }}">
            <img src="{{ .icon }}" alt="{{ .title }}"
              {{- if .iconwidth -}}
              width="{{ .iconwidth }}"
              {{- end -}}
              />
          </a>
        </div>
      {{ end }}
      <div class="pubTitle"><a href="{{ .link }}">{{ .title }}</a></div>
    {{ end }}
    <div class="pubDescription">
      {{ .Inner | markdownify }}
    </div>
  </p>
</div>